*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
background:darkblue;
padding:20px;
text-align:center;
}

.dashboard{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
width:220px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,.3);
}

.container{
width:90%;
margin:auto;
}

input{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:6px;
}

button{
background:darkblue;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
border-radius:6px;
margin:10px 0;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
padding:12px;
border:1px solid #334155;
text-align:center;
}

tr:hover{
background:#1e293b;
}